.listWrap{
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto max-content;
    gap: 50px;
    font-size: 14px;
}

.list{
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    row-gap: 20px;
}

.grid{
    display: grid;
    grid-template-columns: max-content auto;
    grid-auto-rows: max-content;
}
.tp2col{
    /* grid-template-columns: auto min-content; */
    grid-template-columns: 3fr 1fr;
    gap: 60px;
}
.tp3col{
    grid-template-columns: max-content auto max-content;
}
.tp4col{
    grid-template-columns: max-content repeat(3, 1fr);
}
.tpDate{
    grid-template-columns: max-content min-content max-content;
}
.gridImgSec{
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto min-content;
    grid-template-rows: repeat(4, max-content) ;
    grid-template-areas: "first img" "second img" "third img" "fourth img";
}



.label{
    display: inline-block;
    width: 100px;
    line-height: 28px;
}

.inputCommonStyle{
    display: block;
    border: 1px solid var(--color_main);
    border-radius: 5px;
    line-height: 16px;
    font-size: 14px;
    padding: 5px 10px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    height: 28px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





.tilde{
    justify-self: start;
    line-height: 28px;
    font-weight: 700;
    margin: 0 20px;
}

/* --- input 개별 스타일  -------------------------------------------------*/
.inputFileButton{
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 28px;
    height: 28px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    background-color: var(--color_main);
    margin-left: 10px;
}
.colorPicker{
    width: 100px;
    height: 28px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}

.group_range{
    align-items: center;
}

.group_range input[type=range]{
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    box-sizing: border-box;
    height: 10px;
    background: linear-gradient(to right, var(--color_main) 50%, #fff 50%);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px var(--color_main);
    margin: 0 2px;
}
.group_range input[type=range]::-webkit-slider-thumb{
    appearance: none;
    background-color: transparent;
    box-sizing: border-box;
    width: 60px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #408E51;
    border-radius: 4px;
    transform: scaleX(1.01);
    
}
.group_range input[type=range]::-moz-range-thumb{
    appearance: none;
    background-color: transparent;
    box-sizing: border-box;
    width: 60px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #408E51;
    border-radius: 4px;
}

.inputWrap{
    width: 100px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--color_main);
    border-radius: 5px;
    background-color: #fff;
    padding: 0 10px;
    justify-self: start;
    margin-left: 10px;
}
.inputWrap:focus-within{
    outline: auto;
    outline-color: #000;
}
.inputRange{
    width: 100%;
    line-height: 26px;
    font-size: 14px;
    padding: 0 5px;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    text-align: right;
}
.inputRange:focus{
    outline: none;
}
.unit{
    display: block;
    width: 20px;
    text-align: center;
}

.inputFile{
    display: none;
}




/* --- /input 개별 스타일  -------------------------------------------------*/



.imgFrameWrap{
    margin-left: 50px;
    grid-area: img;
    position: relative;
    width: 338px;
    height: 212px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.imgFrame{
    width: 100%;
    height: 100%;
    position: absolute;
}

.imgFrameWrap img{
    position: relative;
    width: 288px;
    height: 162px;
    margin: 25px;
    z-index: 1;
}



.tagWrap{
    display: flex;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
}
.checkWrap{
    padding: 2px;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.checkWrap:focus-within{
    outline: auto;
    outline-color: #000;
}

.checkWrap input[type="checkbox"]{
    position: absolute;
    opacity: 0;
}

.customCheckbox{
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border: 3px solid var(--color_main);
    border-radius: 5px;
}


:checked + .customCheckbox{
    background-color: var(--color_main);
}
:checked + .customCheckbox::before{
    position: absolute;
    left: 4px;
    bottom: 2px;
    display: block;
    content: "";
    width: 4px;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
    transform-origin: 2px 8px;
    transform: rotate(-40deg);
}
:checked + .customCheckbox::after{
    position: absolute;
    left: 4px;
    bottom: 2px;
    display: block;
    content: "";
    width: 4px;
    height: 16px;
    background-color: #fff;
    border-radius: 2px;
    transform-origin: 2px 14px;
    transform: rotate(40deg);
}



.tagStyle{
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}


.link{
    display: block;
    color: var(--color_textLink);
    font-weight: 700;
    line-height: 28px;
    margin: 0 50px;
}
.linkPrevent{
    color: #D9D9D9;
    cursor: default;
    pointer-events: none;
}


.textarea{
    /* display: block; */
    height: 56px;
    resize: none;
}





.btnWrap{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-self: end;
}

.btnStyle{
    width: 200px;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    border-radius: 5px;
}
.btnCancel{
    background-color: #D9D9D9;
}
.btnSubmit{
    color: #fff;
    background-color: var(--color_main);
}